.body {
    height: auto;
    widht: 1920px;
    background-color: whitesmoke;
}

/*cabeçalho*/
.head {
    /*formato, posição e cor da div*/
    height: 10%;
    width: 90%;
    padding: 10px;
    outline-width: 10px;
    outline-style: outset;
    border-radius: 25px;
    justify-self: center;
    background-color: antiquewhite;
    /*centraliza o texto*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*botões linhas*/
.b-linhas {
    /*formato, posição e cor da div*/
    margin-top: 50px;
    height: 470px;
    width: 1395px;
    justify-self: center;
    border-radius: 10px;
    outline-style: outset;
    background-color: antiquewhite;
    padding: 30px;
    /*alinha o conteudo*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.b-linhas a {
    text-decoration: none;
    color: black;
}
/*botão*/
.b {
    display: flex;
    width: 250px;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 20px;
    outline-style: outset;
    justify-content: center;
    align-self: center;
    align-content: center;

}

.b input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Faz o texto ocupar todo o espaço do bloco para aceitar o clique*/
.b label {
  display: block;
  padding: 15px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}

/*muda a cor quando selecionar*/
.b input[type="radio"]:checked + label {
  background-color: rgb(210, 210, 210);
  border-color: #0056b3;
}

/*botões defeitos*/
.b-defeitos {
    /*formato, posição e cor da div*/
    margin-top: 50px;
    height: 100px;
    width: 1395px;
    justify-self: center;
    border-radius: 10px;
    outline-style: outset;
    background-color: antiquewhite;
    padding: 30px;
    /*alinha o conteudo*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.b-defeitos a {
    text-decoration: none;
    color: black;
    text-align: center;
}
/*botão enviar*/
.send {
    margin-top: 15px;
    width: 300px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    outline-style: outset;
    outline-width: 2px;
    outline-color: black;
    justify-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

/*botão voltar*/
.back {
    margin-top: 15px;
    width: 300px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    outline-style: outset;
    outline-color: black;
    justify-self: center;
    align-items: center;    
    justify-content: center;
    display: flex;
}

.b-space a {
    text-decoration: none;
    color: black;
}
/*área botões*/
.b-space {
    height: 70px;
    width: 700px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/*área garrafa e preforma*/
.input-garrafa {
    width: 1395px;
    height: 100px;
    padding: 30px;
    background-color: antiquewhite;
    margin-top: 50px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline-style: outset;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#input-garrafa {
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 20px;
}

#input-preforma {
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 20px;
}

.campo-grupo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campo-grupo label {
  font-weight: bold;
  margin-bottom: 5px;
}

#select-turno {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
